name: despliegue

on: 
  push:
    branches:
      - main
      
  pull_request:
    branches:
      - main 

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4  # v5 aún no existe oficialmente, usa v4

      - name: Instalación
        run: |
          chmod +x insta.sh
          ./insta.sh

      - name: Ejecutar acción personalizada
        uses: ./.github/actions/my-action  # <-- era 'users', debe ser 'uses'
        with:
          message: "jonh"
